@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CaricomeImpacsAssestment.FlowerShop.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR;
@using Volo.Abp.Users
@model CaricomeImpacsAssestment.FlowerShop.Web.Pages.Order.IndexModel
@inject IHtmlLocalizer<FlowerShopResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Shop/Index.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
}
@section scripts {
    <abp-script src="/Pages/Shop/Index.js" />
    <abp-script type="typeof(SignalRBrowserScriptContributor)" />

}

<div class="container-fluid">
    <div class="container text-center">
        <h1>Thank you.</h1>
        <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
        <p class="w-lg-50 mx-auto">Your order number is <a href="#">9237427634826</a>. We will immediatelly process your and it will be delivered in 2 - 5 business days.</p>
    </div>
    <div class="container">
        <h2 class="h5 mb-5 text-center">You may also like these products</h2>
        @for (var i = 0; i <Model.ItemsList.Count; i += 6)
        {
            var product = Model.ItemsList[i];
            <div class="row">
                @for (var j = i; j < i + 6 && j <Model.ItemsList.Count; j++)
                {
                    <div class="col-lg-2">
                        <div class="card text-center mb-2">
                            <div class="py-5 px-4">
                                <img src="@product.allItems.IconUrl" alt="@product.allItems.IconUrl" style="width: 100%; height: auto;" class="img-fluid mb-4" />
                                <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">@product.allItems.Name</a></h3>
                                <span class="text-success">$@product.price.SellCost</span> <del class="text-muted">$$@product.price.SellCost</del>
                            </div>
                            <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                                <span class="d-block">10%</span>
                                <span class="d-block">OFF</span>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        }
        
    </div>
</div>
