@using CaricomeImpacsAssestment.FlowerShop.Order
@using CaricomeImpacsAssestment.FlowerShop.Order.Dto
@using Microsoft.AspNetCore.Http
@inject IOrderDetailTempAppService _orderDetailTempAppService
@inject ICookieTrackerAppService _cookieTrackerAppService
@inject IHttpContextAccessor HttpContextAccessor
@code {
    private List<OrderWithItemDataDto> checkOutList { get; set; }
    private OrderDetailTempDto checkTotal { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var cartCookieValue = GetCookieValue("Browser_Cart_Session");
        var cookieUUID = await _cookieTrackerAppService.GetByCookieUUID(cartCookieValue);       
        checkOutList = await _orderDetailTempAppService.GetShoppingCartForCheckOut(cookieUUID);
        checkTotal = await _orderDetailTempAppService.GetShoppingCartAmountByCookieId(cookieUUID);
    }

    private string GetCookieValue(string cookieName)
    {
        return HttpContextAccessor.HttpContext?.Request.Cookies[cookieName]; 
    }
}

<div class="dropdown-menu dropdown-menu-end border-0 shadow-sm" aria-labelledby="cartDropdownMenuLink">
    <ul class="list-unstyled cart-items">
        @foreach (var item in checkOutList)
        {
            <li class="cart-item px-2 py-1">@item.ItemName - $@item.UnitPrice.ToString("0.00")</li>
        }
    </ul>
    <div class="px-2 py-1">
        <span>Total: $@checkTotal.LineTotal.ToString("0.00")</span>
        <button class="btn btn-primary checkout-button">Checkout</button>
    </div>
</div>
