html, body {
    height: 100%;
    margin: 0;
}

#content {
    min-height: 100%;
    /* Adjust the value below to be your footer's height */
    padding-bottom: 150px;
    box-sizing: border-box;
}

/*#footer {
    height: 150px;*/ /* Your Footer's Height */
    /*margin-top: -150px;*/ /* Equal to the negative value of your footer's height */
    /*position: relative;
    clear: both;
}*/
#footer {
    bottom: 0;
    padding: 1rem; /* Padding for spacing */
    /*border-top: 1px solid #e7e7e7;*/ /* Top border for a slight separation effect */
}
@media (min-width: 992px) { /* Large screen adjustments */
    #footer {
        text-align: left; /* Align text to the left on large screens */
    }
}
